
<md-card>
<h1>.. Either not registered or, email already occupied by someone please try another ..</h1>

<br>
<br>

<md-button href="/register" class="md-raised md-warn">
Sign Up
</md-button>

</md-card>